.footer{
  position: relative;
  /*display: -ms-flexbox;*/
  display: flex;
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  /*-ms-flex-align: center;*/
  align-items: center;
  /*-ms-flex-pack: justify;*/
  /*justify-content: space-between;*/
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #343a40;
}
