<!--<div class="footer">-->
  <!--<div class="container-fluid">-->
  <div class="row">
    <div class="col-md-12 ">
      <img src="{{serverURL}}static/book-logo-2.png" width="50px" height="50px" align="left">
      <a class="text-primary" routerLink="/" style="line-height: 20%">
        <span style="font-size: 1.5rem">OnlineBookStore</span>
        <br>
        <span class="text-white text-muted" style="font-size: 80%">books for everyone</span>
      </a>
      <br>
      <br>
      <div class="text-center">
        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
      </div>
    </div>
  </div>

  <!--</div>-->
<!--</div>-->

