<div class="container-fluid">

  <div class="row">

    <div class="col-md-12">
      <app-book-item-line></app-book-item-line>
    </div>

  </div>

  <div class="row justify-content-end" style="margin-top: 10px">

    <form (ngSubmit)="sortBooks()" #f="ngForm">
      <div class="form-row">

        <div class="col">
          <button type="submit" class="btn btn-primary btn-block">
            <strong>sort by</strong>
          </button>
        </div>
        <div class="col">
          <!--<label for="secret">Secret Questions</label>-->
          <select
            id="sortBy"
            class="form-control"
            [ngModel]="sortBy"
            name="sortBy">
            <option selected value="author" >Author</option>
            <option value="bookName">Book name</option>
            <option value="rating">Rating</option>
            <option value="publisher">Publisher</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="row justify-content-around" style="padding-top: 10px">
    <div class="col-md-2 justify-content-start" *ngFor="let num of arr1, let i=index">
      <app-book-item-small-card
        [activeBookItemDetails]="bookItems[i]"></app-book-item-small-card>
    </div>
  </div>
  <div class="row justify-content-around" style="padding-top: 10px">
    <div class="col-md-2 justify-content-start" *ngFor="let num of arr2, let i=index">
      <app-book-item-small-card
        [activeBookItemDetails]="bookItems[i]"></app-book-item-small-card>
    </div>
  </div>
  <div class="row justify-content-end" style="margin-top: 10px">
    <nav aria-label="tablePagination">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: currentPage==1}">
          <a class="page-link" (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
        </li>
        <li *ngFor="let int of paginationArr; index as i"
            class="page-item" [ngClass]="{active: currentPage==(i+1)}">
          <a class="page-link" (click)="onSortGet(sortBy,false,i+1)">{{i+1}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: currentPage==paginationArr.length}">
          <a class="page-link" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>





</div>
