<div class="container-fluid">

  <div class="row">

    <div class="col-md-12">
      <app-book-item-line></app-book-item-line>
    </div>

  </div>

  <div class="row justify-content-start" style="margin-top: 10px">
    <div class="col-md-3">
      <form (ngSubmit)="sortBooks(f)" #f="ngForm">
        <div class="form-row">

          <div class="col-md-10">
            <select
              id="sortBy"
              class="form-control"
              [ngModel]="sortBy"
              name="sortBy">
              <option selected value="author">Author</option>
              <option value="bookName">Book name</option>
              <option value="rating">Rating</option>
              <option value="publisher">Publisher</option>
            </select>
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa fa-arrows-v" aria-hidden="true"></i> sort
            </button>
          </div>
        </div>
      </form>
    </div>


  </div>

  <div class="row justify-content-around" style="padding-top: 10px">
    <div class="col-md-2 justify-content-start" *ngFor="let num of arr1, let i=index">
      <app-book-item-small-card
        [activeBookItemDetails]="bookItems[num]"></app-book-item-small-card>
    </div>
  </div>
  <div class="row justify-content-around" style="padding-top: 10px">
    <div class="col-md-2 justify-content-start" *ngFor="let num of arr2, let i=index">
      <app-book-item-small-card
        [activeBookItemDetails]="bookItems[num]"></app-book-item-small-card>
    </div>
  </div>
  <div class="row justify-content-start" style="margin-top: 10px">
    <nav aria-label="tablePagination">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: currentPage==1}">
          <a class="page-link" (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
        </li>
        <li *ngFor="let int of paginationArr; index as i"
            class="page-item" [ngClass]="{active: currentPage==(int+1)}">
          <a class="page-link" (click)="onSortGet(sortBy,false,int+1)">{{int+1}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: currentPage==paginationArr.length}">
          <a class="page-link" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>


</div>
