<div class="card" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="card-body" style="margin-bottom: 20px"><!--style="padding-left: 0px;padding-top: 0px"-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="http://localhost:8080/cover/{{activeBookItemDetails.id}}"
               width="250" class="card-img"/>
        </div>
        <div class="col-md-8">
          <h3>{{activeBookItemDetails.bookName}}</h3>
          <ngb-rating [rate]="activeBookItemDetails.rating" readonly max="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>
          </ngb-rating>
          <strong class="text-info float-right" style="font-size: 1.2rem">{{activeBookItemDetails.author}}</strong>
          <br>
          <span class="text-muted float-right">{{activeBookItemDetails.publisher}}</span>
          <br>
          <hr>
          <span class="text-muted float-right" style="font-size: 1.2rem">item id: {{activeBookItemDetails.id}}</span>
          <br>
          <hr>

          <form (ngSubmit)="onAddToCart(f)" #f="ngForm">
            <div class="form-row">
              <div class="col-3">
                <input type="number" class="form-control small" ngModel name="quantity"
                       inputmode="numeric" step="1" min="1" max="" pattern="[0-9]*" value="1" required>
              </div>
              <div class="col-9">
                <button type="submit" class="btn btn-primary btn-block">
                  <strong><i class="fa fa-usd" aria-hidden="true"></i> {{activeBookItemDetails.price}}</strong> add to
                  cart
                </button>
              </div>
            </div>
          </form>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col" [@descript]="state">
          <p>
            {{activeBookItemDetails.description}}
          </p>
        </div>
        <div class="w-100" style="margin-top: -20px; position: relative">
          <button type="button"
                  class="btn btn-light btn-block"
                  style="opacity: 0.8"
                  (click)="state=((state=='brief')?'full':'brief')">
            <strong class="text-primary" *ngIf="state==='brief'">
              Full description
            </strong>
            <strong class="text-primary" *ngIf="state==='full'">
              Brief description
            </strong>
          </button>
        </div>
        <div class="card">
          <img src="http://localhost:8080/static/book.jpg" class="card-img">
          <div class="card-img-overlay text-white">
            <div class="row justify-content-around">
              <div class="col-md-4">
                <h3>More by {{activeBookItemDetails.author}}</h3>
                <hr>
                <h4>About author</h4>
              </div>
              <!--<div class="col-6" *ngFor="let bookItem of bookItems, let i=index">-->
              <div class="col-md-8 ">
                <div class="card-deck justify-content-end">
                  <app-book-item-small-card
                    [activeBookItemDetails]="bookItems[j]"
                    *ngFor="let j of arr" style="width:50%"></app-book-item-small-card>
                </div>
              </div>

              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
