<div class="card">
  <div class="card-header">
    User details
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-body">
            <img src="http://localhost:8080/photo/{{activeUserDetails.id}}"
                 width="100px"
                 height="100px"/>
            <ol class="list-unstyled mb-4">
              <li>Login: {{activeUserDetails.login}}</li>
              <hr>
              <li>Name: {{activeUserDetails.name}}</li>
              <hr>
              <li>Lastname: {{activeUserDetails.lastname}}</li>
              <hr>
              <li>Email: {{activeUserDetails.email}}</li>
              <hr>
              <li>Phone: {{activeUserDetails.phone}}</li>
              <hr>
              <li>Role: {{activeUserDetails.role}}</li>
              <hr>
            </ol>
          </div>
        </div>

        <div class="col-md-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="home-tab" data-toggle="tab" role="tab"
              [ngClass]="{active:activeTabNum==0}" (click)="setActiveTabNum(0)">User orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab"
                 [ngClass]="{active:activeTabNum==1}" (click)="setActiveTabNum(1)">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab"
                 [ngClass]="{active:activeTabNum==2}" (click)="setActiveTabNum(2)">Contact</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel"
                 [ngClass]="{'active , show':activeTabNum==0}">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="text-primary">order Id</th>
                  <th class="text-primary">sum</th>
                  <th class="text-primary">order list</th>
                  <th class="text-primary">status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let num of iteratArray, let i=index" [ngClass]="{collapse:(i%2!==0), show: ((i)==activeRowOrderTable), 'bg-secondary': ((i)==activeRowOrderTable-1)}" (click)="setActiveRowOrderTable(i+1)">
                  <td *ngIf="(i)%2==0">{{userDetailOrders[i/2].id}}</td>
                  <td *ngIf="(i)%2==0">{{userDetailOrders[i/2].orderPrice}}</td>
                  <td *ngIf="(i)%2==0" >Show order list
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                  </td>
                  <td *ngIf="(i)%2==0">{{userDetailOrders[i/2].status}}</td>
                  <td *ngIf="((i)%2!==0)" colspan="4">
                    <div style="overflow: scroll; height: 300px">
                      <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <td>Book id</td>
                          <td>Book name</td>
                          <td>Book prise</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let bookItem of userDetailOrders[(i-1)/2].orderSet, let j=index" [ngClass]="{collapse:((i+1)%2==0),
                          show: ((i)==activeRowOrderTable)}">
                          <td>{{bookItem.id}}</td>
                          <td>{{bookItem.bookName}}</td>
                          <td>{{bookItem.price}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel"
                 [ngClass]="{'active , show':activeTabNum==1}">
              <ol class="list-unstyled mb-4">
                <li>Login:</li>
                <hr>
                <li>Name: {{activeUserDetails.name}}</li>
                <hr>
                <li>Lastname: {{activeUserDetails.lastname}}</li>
                <hr>
                <li>Email: {{activeUserDetails.email}}</li>
                <hr>
                <li>Phone: {{activeUserDetails.phone}}</li>
                <hr>
                <li>Role: {{activeUserDetails.role}}</li>
                <hr>
                <li>Adress: {{activeUserDetails.adress}}</li>
                <hr>
                <li>Group: {{activeUserDetails.clientGroup}}</li>
                <hr>
              </ol>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel"
                 [ngClass]="{'active , show':activeTabNum==2}">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control " readonly = "true" id="exampleInputEmail1"
                         aria-describedby="emailHelp" placeholder="yyyy"  name="toClient" value="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never
                    share your email with anyone else.
                  </small>
                </div>
                <div class="form-group">
                  <label for="subjectId">Subject</label>
                  <input type="text" class="form-control" id="subjectId"
                         aria-describedby="emailHelp" placeholder="Subject"
                         name="subject">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Message</label>
                  <textarea class="form-control" id="exampleInputPassword1"
                            placeholder="Enter message here"
                            name="text"></textarea>
                  <!--<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                </div>
                <button type="submit" class="btn btn-primary">Send email</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

