<div class="card">
  <div class="card-header">
    User details
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-body">
            <img src="http://localhost:8080/photo/{{activeUserDetails.id}}"
                 width="100px"
                 height="100px"/>
            <ol class="list-unstyled mb-4">
              <li>Login: {{activeUserDetails.login}}</li>
              <hr>
              <li>Name: {{activeUserDetails.name}}</li>
              <hr>
              <li>Lastname: {{activeUserDetails.lastname}}</li>
              <hr>
              <li>Email: {{activeUserDetails.email}}</li>
              <hr>
              <li>Phone: {{activeUserDetails.phone}}</li>
              <hr>
              <li>Role: {{activeUserDetails.role}}</li>
              <hr>
            </ol>
          </div>
        </div>

        <div class="col-md-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                 role="tab"
                 aria-controls="home" aria-selected="true">User orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                 role="tab"
                 aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                 role="tab"
                 aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel"
                 aria-labelledby="home-tab">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>order Id</th>
                  <th>sum</th>
                  <th>order list</th>
                  <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of userDetailOrders, let i=index" [ngClass]="{collapse:((i+1)%2==0),
                show: ((i)==activeRowOrderTable), 'bg-secondary': ((i)==activeRowOrderTable-1)}" (click)="setActiveRowOrderTable(i+1)">
                  <td *ngIf="((i+1)%2!==0)">{{order.id}}</td>
                  <td *ngIf="(i+1)%2!==0">{{order.orderPrice}}</td>
                  <td *ngIf="(i+1)%2!==0" >Show order list
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                  </td>
                  <td *ngIf="(i+1)%2!==0">{{order.status}}</td>
                  <td *ngIf="((i+1)%2==0)" colspan="4">
                    <div style="overflow: scroll; height: 300px">
                      <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <td>Book id</td>
                          <td>Book name</td>
                          <td>Book prise</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let bookItem of order.orderList, let i=index" [ngClass]="{collapse:((i+1)%2==0),
                          show: ((i)==activeRowOrderTable)}">
                          <td>{{bookItem.id}}</td>
                          <td>{{bookItem.bookName}}</td>
                          <td>{{bookItem.price}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr class="collapse" [ngClass]="{show: ((userDetailOrders.length)==activeRowOrderTable)}">
                  <td colspan="4">
                    <div style="overflow: scroll; height: 300px">
                      <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <td>Book id</td>
                          <td>Book name</td>
                          <td>Book prise</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let bookItem of userDetailOrders[userDetailOrders.length-1].orderList, let i=index"
                            [ngClass]="{collapse:((i+1)%2==0), show: ((i)==activeRowOrderTable)}">
                          <td>{{bookItem.id}}</td>
                          <td>{{bookItem.bookName}}</td>
                          <td>{{bookItem.price}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel"
                 aria-labelledby="profile-tab">
              <ol class="list-unstyled mb-4">
                <li>Login:</li>
                <hr>
                <li>Name: {{activeUserDetails.name}}</li>
                <hr>
                <li>Lastname: {{activeUserDetails.lastname}}</li>
                <hr>
                <li>Email: {{activeUserDetails.email}}</li>
                <hr>
                <li>Phone: {{activeUserDetails.phone}}</li>
                <hr>
                <li>Role: {{activeUserDetails.role}}</li>
                <hr>
                <li>Adress: {{activeUserDetails.adress}}</li>
                <hr>
                <li>Group: {{activeUserDetails.clientGroup}}</li>
                <hr>
              </ol>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel"
                 aria-labelledby="contact-tab">
              <form action="/sendEmail" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1"
                         aria-describedby="emailHelp"
                         placeholder="yyyy"/>"
                  readonly
                  name="toClient"
                  value="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never
                    share your email with anyone else.
                  </small>
                </div>
                <div class="form-group">
                  <label for="subjectId">Subject</label>
                  <input type="text" class="form-control" id="subjectId"
                         aria-describedby="emailHelp" placeholder="Subject"
                         name="subject">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Message</label>
                  <textarea class="form-control" id="exampleInputPassword1"
                            placeholder="Enter message here"
                            name="text"></textarea>
                  <!--<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                </div>
                <button type="submit" class="btn btn-primary">Send email</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

