<div class="card" ><!--style="width: 150px; height: 325px"-->
  <img src="{{serverURL}}cover/{{activeBookItemDetails.id}}"
       class="card-img-top"/>
  <div class="card-body text-dark float-left"
       style="white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       padding: 2px">
    <p>
      {{activeBookItemDetails.bookName}}
      <br>
      <span class="text-info float-left">{{activeBookItemDetails.author}}</span>
      <br>
      <ngb-rating [rate]="activeBookItemDetails.rating" readonly max="5">
      <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
      </ng-template>
    </ngb-rating>
      <strong class="text-info float-right" style="font-size: 1rem"><i class="fa fa-usd" aria-hidden="true"></i>{{activeBookItemDetails.price}}</strong>
    </p>
  </div>
</div>
