<app-navigation-bar (sidebarToggled)="onSidebarOn()"></app-navigation-bar>
<div class="page-content d-flex align-items-stretch">
  <app-navigation-sidebar [isSidebarOnSidebar]="isSidebarOn"></app-navigation-sidebar>
  <div class="content-inner" [ngClass]="{active: isSidebarOn}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <br>
          <!--<app-users></app-users>-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
