<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Orders list
        </div>
        <div class="card-body">
          <table class="table table-striped table-bordered table-hover" id="dataTable">
            <thead class="thead-light">
            <tr>
              <th class="text-primary"><a (click)="onSortGet('id',true,currentPage)">
                Id <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="text-primary"><a (click)="onSortGet('orderPrice',true,currentPage)">
                Price <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('client',true,currentPage)">
                Client <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('shipment',true,currentPage)">
                ShipmentId <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('status',true,currentPage)">
                Status <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('orderDate',true,currentPage)">
                Order date <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders, let i = index" (click)="setActiveRow(i, order.id)"
                [ngClass]="{'bg-secondary': i == activeRow}">
              <td style="word-break: break-all">{{order.id}}</td>
              <td style="word-break: break-all">{{order.orderPrice}}</td>
              <td style="word-break: break-all">{{order.client.login}}</td>
              <td style="word-break: break-all">{{order.shipment.id}}</td>
              <td style="word-break: break-all">{{order.status}}</td>
              <td style="word-break: break-all">{{order.orderDate}}</td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="tablePagination">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{disabled: currentPage==1}">
                <a class="page-link"  (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
              </li>
              <li *ngFor="let int of paginationArr; index as i"
                  class="page-item" [ngClass]="{active: currentPage==(i+1)}">
                <a class="page-link" (click)="onSortGet(sortBy,false,i+1)">{{i+1}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled: currentPage==paginationArr.length}">
                <a class="page-link" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--<app-users-details [activeUserDetails]="activeOrder.client" *ngIf="activeOrder!=null"></app-users-details>-->
    </div>
    <div class="col-md-6">
      <app-order-detail [activeOrder]="activeOrder"></app-order-detail>
    </div>
  </div>
</div>
