<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Orders list
          <div class="btn-group btn-group-sm float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="addNewOrder()">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              new order
            </button>
            <ng-template #saveTipContent>Save all changes</ng-template>
            <button type="button" class="btn btn-outline-primary btn-sm" placement="right" [ngbTooltip]="saveTipContent"
                    tooltipClass="custom-tooltip-class" (click)="saveAllChanges()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <ng-template #delTipContent>Delete order {{activeOrder.id}}</ng-template>
            <button type="button" class="btn btn-outline-danger btn-sm" placement="right" [ngbTooltip]="delTipContent"
                    tooltipClass="custom-tooltip-class" [disabled]="activeOrder.status=='closed'"
            (click)="deleteOrder(activeOrder)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-bordered table-hover" id="dataTable">
            <thead class="thead-light">
            <tr>
              <th class="text-primary"><a (click)="onSortGet('id',true,currentPage)">
                Id <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="text-primary"><a (click)="onSortGet('orderPrice',true,currentPage)">
                Price <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('client',true,currentPage)">
                Client <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('shipment',true,currentPage)">
                ShipmentId <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('status',true,currentPage)">
                Status <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary"><a (click)="onSortGet('orderDate',true,currentPage)">
                Order date <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders, let i = index" (click)="setActiveRow(i, order.id)"
                [ngClass]="{'bg-info': i == activeRow, 'bg-warning': ((order.status=='unProcessed') && (i != activeRow))}">
              <td style="word-break: break-all">{{order.id}}</td>
              <td style="word-break: break-all">{{order.orderPrice}}</td>
              <td style="word-break: break-all">{{order.client.login}}</td>
              <td style="word-break: break-all">{{order.shipment.id}}</td>
              <td style="word-break: break-all">{{order.status}}</td>
              <td style="word-break: break-all">{{order.orderDate}}</td>
              <td *ngIf="isOrderChanged(order.id)" style="text-align: center"><div class="btn btn-outline-primary btn-sm" (click)="onSaveOrder(order)"><i class="fa fa-floppy-o" aria-hidden="true"></i>
              </div></td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="tablePagination">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{disabled: currentPage==1}">
                <a class="page-link" (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
              </li>
              <li *ngFor="let int of paginationArr; index as i"
                  class="page-item" [ngClass]="{active: currentPage==(i+1)}">
                <a class="page-link" (click)="onSortGet(sortBy,false,i+1)">{{i+1}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled: currentPage==paginationArr.length}">
                <a class="page-link" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--<app-users-details [activeUserDetails]="activeOrder.client" *ngIf="activeOrder!=null"></app-users-details>-->
    </div>
    <div class="col-md-6">
      <app-order-detail [activeOrder]="activeOrder"
                        [bookItems]="bookItems"
                        (orderChanged)="setChangedOrderId($event)"
                        (activeOrderSaved)="onSaveOrder($event)"></app-order-detail>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     [ngStyle]="{'display': (isModalActive?'block':''), 'padding-right': (isModalActive?'15px':'')}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        Order {{activeOrder.id}} has been saved.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeModal()">Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     [ngStyle]="{'display': (isExitModalActive?'block':''), 'padding-right': (isExitModalActive?'15px':'')}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        Save changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeModal()">Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeModal()">No
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     [ngStyle]="{'display': (isDeleteModalActive?'block':''), 'padding-right': (isDeleteModalActive?'15px':'')}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        Order was successfully deleted?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="isDeleteModalActive=false">Close</button>
      </div>
    </div>
  </div>
</div>

<ng-template #orderCreated let-modal>
  <div class="modal-body">
  New order id is - {{newOrderId}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
