.star {
  /*font-size: 1.2rem;*/
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ff8d14;
}
.filled {
  color: #ff8d14;
}

::ng-deep .custom-tooltip-class .tooltip-inner{
  background-color: dodgerblue;
  /*font-size: 125%;*/
}
::ng-deep .custom-tooltip-class .arrow::before {
  /*border-top-color: dodgerblue;*/
  border-right-color: dodgerblue;
}
