.content-inner {
  position: relative;
  /*width: calc(100% - 250px);*/
  /*min-height: calc(100vh - 70px);*/
  /*padding-bottom: 60px;*/
  width: 100%;
}

.content-inner.active {
  width: calc(100% - 90px);
}

::ng-deep .custom-tooltip-class .tooltip-inner{
  background-color: dodgerblue;
  /*font-size: 125%;*/
}
::ng-deep .custom-tooltip-class .arrow::before {
  /*border-top-color: dodgerblue;*/
  border-right-color: dodgerblue;
}
