<div class="card">
  <div class="card-header">
    Edit order {{activeOrder.id}}
    <div class="btn-group btn-group-sm float-right">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="openBooklistModal()"
              [disabled]="activeOrder.status=='closed'" >
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        new item
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onSaveOrder(activeOrder)"
              [disabled]="activeOrder.status=='closed'" >
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
      <!--<button type="button" class="btn btn-outline-primary btn-sm" dropdownShow="false" #drop-->
      <!--(click)="drop.attributes.dropdownShow.nodeValue = 'true'">-->
      <!--</button>-->
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary btn-sm"
                id="dropdownBasic1" ngbDropdownToggle
                [disabled]="activeOrder.status=='closed'">
          <i class="fa fa-indent" aria-hidden="true"></i>
          Change order status</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="changeOrderStatus('unProcessed')" [disabled]="activeOrder.status=='unProcessed' || activeOrder.status=='closed'">unProcessed</button>
          <button class="dropdown-item" (click)="changeOrderStatus('processed')" [disabled]="activeOrder.status=='processed' || activeOrder.status=='closed'">processed</button>
          <button class="dropdown-item" (click)="changeOrderStatus('closed')" [disabled]="activeOrder.status=='closed'">closed</button>
        </div>
      </div>
      <button type="button"
              class="btn btn-outline-primary btn-sm"
              (click)="openAddOrderModal(editOrderUser)"
              [disabled]="activeOrder.status=='closed' || activeOrder.status=='processed'">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> change user
      </button>
    </div>

  </div>
  <div class="card-body">

    <div style="overflow-y: scroll; height: 300px">
      <ng-template #popContent let-id="id">
        <img class="img-fluid" src="http://localhost:8080/cover/{{id}}"/></ng-template>
      <table class="table table-bordered  table-striped table-hover" style="margin-bottom: 0px">
        <thead class="thead-light">
        <tr>
          <th class="text-primary">#</th>
          <th class="text-primary">Book cover</th>
          <th class="text-primary">Book id</th>
          <th class="text-primary">Book name</th>
          <th class="text-primary">Book price</th>
          <th class="text-primary">Book quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of activeOrder.orderList, let i=index">
          <td [ngClass]="{'item-deleted': entry.value==0}">{{i+1}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">
            <img src="http://localhost:8080/cover/{{entry.key.id}}"
                 width="50px" height="50px"
                 [ngbPopover]="popContent"
                 #pop="ngbPopover"
                 triggers="manual"
                 (click)="togglePopover(pop,entry.key.id)"
                 style="cursor: pointer"/></td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.id}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.bookName}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.price}}</td>

          <td>{{entry.value}}
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-outline-primary btn-sm"
                   (click)="setItemEntryValue(entry.value+1,entry)"
                   [disabled]="activeOrder.status=='closed' || activeOrder.status=='processed'">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-outline-danger btn-sm"
                   [disabled]="entry.value==0 || activeOrder.status=='closed' || activeOrder.status=='processed'"
                   (click)="setItemEntryValue(entry.value-1,entry)">
                <i class="fa fa-minus-square" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4"><h5 style="text-align: right">Total price:</h5></td>
          <td><h5>{{activeOrder.orderPrice}}</h5></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <hr>
    <!--{{activeOrder.orderList|json}}-->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-primary" data-toggle="tab" role="tab"
           [ngClass]="{active:activeTabNum==0}" (click)="setActiveTabNum(0)"><b>Shipment info</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-primary" data-toggle="tab" role="tab"
           [ngClass]="{active:activeTabNum==1}" (click)="setActiveTabNum(1)"><b>Client contact</b></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel"
           [ngClass]="{'active , show':activeTabNum==0}">
        <!--<ol class="list-unstyled mb-4">-->
          <!--<hr>-->
          <!--<li>Adress: {{activeOrder.shipment.shippingAddress}}</li>-->
          <!--<hr>-->
          <!--<li>Delivery status: {{activeOrder.shipment.shipmentStatus}}</li>-->
          <!--<hr>-->
          <!--<form>-->
            <!--<div class="form-group">-->
              <!--<label for="deliveryAddress">Delivery address</label>-->
              <!--<input type="email" class="form-control " id="deliveryAddress"-->
                     <!--aria-describedby="emailHelp" placeholder="yyyy" name="toClient" value="text">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-primary">Change delivery address</button>-->
          <!--</form>-->
          <!--<hr>-->
        <!--</ol>-->
        <form (ngSubmit)="changeShipment(f)" #f="ngForm">
          <div class="form-group">
            <label for="deliveryAddress">Delivery address</label>
            <input type="text"
                   class="form-control"
                   id="deliveryAddress"
                   placeholder="{{activeOrder.shipment.shippingAddress}}"
                   [readonly]="activeOrder.status=='closed'"
                   ngModel
                   name="deliveryAdress">
          </div>
          <div class="form-group">
            <label for="deliveryStatus">Delivery status</label>
            <input type="text"
                   class="form-control"
                   id="deliveryStatus"
                   placeholder="{{activeOrder.shipment.shipmentStatus}}"
                   [readonly]="activeOrder.status=='closed'"
                    ngModel
                   name="deliveryStatus">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel"
           [ngClass]="{'active , show':activeTabNum==1}">
        <hr>
        Phone: {{activeOrder.client.phone}}
        <hr>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" readonly="true" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="yyyy" name="toClient" value="{{activeOrder.client.email}}">
            <small id="emailHelp" class="form-text text-muted">We'll never
              share your email with anyone else.
            </small>
          </div>
          <div class="form-group">
            <label for="subjectId">Subject</label>
            <input type="text" class="form-control" id="subjectId"
                   aria-describedby="emailHelp" placeholder="Subject"
                   name="subject">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <textarea class="form-control" id="exampleInputPassword1"
                      placeholder="Enter message here"
                      name="text">
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send email</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show"
     [ngStyle]="{'display': (isModalActive?'block':''), 'padding-right': (isModalActive?'15px':'')}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Remove item from order list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="removeOrderListItem(itemToRemove)">Yes</button>
        <button type="button" class="btn btn-primary" (click)="setItemEntryValue(1,itemToRemove)">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show"
     [ngStyle]="{'display': (isModalBookListActive?'block':''),
'padding-right': (isModalBookListActive?'15px':'')}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-light">
          <tr>
            <th class="text-primary">#</th>
            <th class="text-primary">Book cover</th>
            <th class="text-primary">Book id</th>
            <th class="text-primary">Book name</th>
            <th class="text-primary">Book price</th>
            <th class="text-primary">Choose</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bookItem of bookItems, let i=index">
            <td>{{i+1}}</td>
            <td>
              <img src="http://localhost:8080/cover/{{bookItem.id}}" width="50px" height="50px"/></td>
            <td>{{bookItem.id}}</td>
            <td>{{bookItem.bookName}}</td>
            <td>{{bookItem.price}}</td>
            <td>
              <div class="btn btn-outline-primary btn-sm" (click)="addItemToOrder(bookItem)"><i
                class="fa fa-plus-square" aria-hidden="true"></i>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4"><h5 style="text-align: right">Total price:</h5></td>
            <td><h5>{{activeOrder.orderPrice}}</h5></td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="isModalBookListActive=false">Close</button>
      </div>
    </div>
  </div>
</div>

<ng-template #editOrderUser let-modal>
  <div class="modal-body">
      <app-users [showUserDetails]="false"
                  (userActivated)="setUserInActiveOrder($event)"></app-users>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
