<div class="card">
  <div class="card-header">
    Edit order {{activeOrder.id}}
    <div class="btn-group btn-group-sm">
      <div class="btn btn-primary btn-sm">new item</div>
      <div class="btn btn-primary btn-sm">save chages</div>
    </div>
  </div>
  <div class="card-body">

    <div style="overflow-y: scroll; height: 300px">
      <table class="table table-bordered  table-striped table-hover" style="margin-bottom: 0px">
        <thead class="thead-light">
        <tr>
          <th class="text-primary">#</th>
          <th class="text-primary">Book id</th>
          <th class="text-primary">Book name</th>
          <th class="text-primary">Book price</th>
          <th class="text-primary">Book quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of activeOrder.orderList, let i=index">
          <td [ngClass]="{'item-deleted': entry.value==0}">{{i+1}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.id}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.bookName}}</td>
          <td [ngClass]="{'item-deleted': entry.value==0}">{{entry.key.price}}</td>
          <td>{{entry.value}}
            <div class="btn-group btn-group-sm">
              <div class="btn btn-outline-primary btn-sm" (click)="setItemEntryValue(entry.value+1,entry)"><i
                class="fa fa-plus-circle" aria-hidden="true"></i></div>
              <div class="btn btn-outline-danger btn-sm" [ngClass]="{'disabled':entry.value==0}"
                   (click)="setItemEntryValue(entry.value-1,entry)">
                <i class="fa fa-minus-circle" aria-hidden="true"></i></div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3"><h5 style="text-align: right">Total price:</h5></td>
          <td><h5>{{activeOrder.orderPrice}}</h5></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <hr>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-primary" data-toggle="tab" role="tab"
           [ngClass]="{active:activeTabNum==0}" (click)="setActiveTabNum(0)"><b>Shipment info</b></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-primary" data-toggle="tab" role="tab"
           [ngClass]="{active:activeTabNum==1}" (click)="setActiveTabNum(1)"><b>Client contact</b></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel"
           [ngClass]="{'active , show':activeTabNum==0}">
        <ol class="list-unstyled mb-4">
          <hr>
          <li>Adress: {{activeOrder.shipment.shippingAddress}}</li>
          <hr>
          <li>Delivery status: {{activeOrder.shipment.shipmentStatus}}</li>
          <hr>
          <form>
            <div class="form-group">
              <label for="deliveryAddress">Delivery address</label>
              <input type="email" class="form-control " id="deliveryAddress"
                     aria-describedby="emailHelp" placeholder="yyyy" name="toClient" value="text">
            </div>
            <button type="submit" class="btn btn-primary">Change delivery address</button>
          </form>
          <hr>
        </ol>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel"
           [ngClass]="{'active , show':activeTabNum==1}">
        <hr>
        Phone: {{activeOrder.client.phone}}
        <hr>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control " readonly="true" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="yyyy" name="toClient" value="email">
            <small id="emailHelp" class="form-text text-muted">We'll never
              share your email with anyone else.
            </small>
          </div>
          <div class="form-group">
            <label for="subjectId">Subject</label>
            <input type="text" class="form-control" id="subjectId"
                   aria-describedby="emailHelp" placeholder="Subject"
                   name="subject">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <textarea class="form-control" id="exampleInputPassword1"
                      placeholder="Enter message here"
                      name="text">
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send email</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     [ngStyle]="{'display': (isModalActive?'block':''), 'padding-right': (isModalActive?'15px':'')}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <!--<div class="modal-header">-->
      <!--<h5 class="modal-title" id="exampleModalLabel">Remove item</h5>-->
      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
    <!--</div>-->
    <div class="modal-body">
     Remove item from order list?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="removeOrderListItem(itemToRemove)">Yes</button>
      <button type="button" class="btn btn-primary" (click)="setItemEntryValue(1,itemToRemove)">No</button>
    </div>
  </div>
</div>
</div>
