
<app-header></app-header>

<div class="container-fluid">
<div class="row">

  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        <h2>recipies</h2>
      </div>
      <div class="card-body">
        <!--<app-recipies></app-recipies>-->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>shopping list</h2>
      </div>
      <div class="card-body">
        <!--<app-shopping-list></app-shopping-list>-->
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>recipies</h2>
      </div>
      <div class="card-body">
        <!--<app-recipies></app-recipies>-->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>shopping list</h2>
      </div>
      <div class="card-body">
        <!--<app-shopping-list></app-shopping-list>-->
      </div>
    </div>
  </div>
</div>
</div>
