<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand text-primary" routerLink="/" style="line-height: 20%"><h3>OnlineBookStore</h3><span
    class="text-primary text-muted float-right" style="font-size: 80%">books for everyone</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="btn btn-primary" (click)="sideBarTogle.emit()">Sidebar toggle</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="font-size: 1.2rem">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-home" aria-hidden="true"></i>
          Home</a>
      </li>
      <li class="nav-item" [ngbPopover]="popContent" placement="bottom" triggers="mouseenter:mouseleave">
        <a class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart</a>
      </li>
      <li>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="font-size: 1.2rem">
            <a class="nav-link dropdown-toggle" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-users" aria-hidden="true"></i>
              User info
            </a>
            <div class="dropdown-menu {{this.dropdownShow}}" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">Save data</a>
              <a class="dropdown-item">Fetch data</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Something else here</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <!--<form class="form-inline my-2 my-lg-0">-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>

<ng-template #popContent>
  <div class="container-fluid" style="width: 425px">
    <div class="row">
      <div class="col-md-12">
        <app-book-item-midle-card *ngFor="let itemEntry of shoppingCart" [activeBookItemDetails]="itemEntry.key"></app-book-item-midle-card>
      </div>
    </div>
  </div>
</ng-template>

