<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand text-primary" routerLink="/" style="line-height: 20%">
    <img src="{{serverURL}}static/book-logo-2.png" width="50px" height="50px" align="left">
    <h3>OnlineBookStore</h3><span
    class="text-primary text-muted float-right" style="font-size: 80%">books for everyone</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="btn btn-primary" (click)="sideBarTogle.emit()" style="margin-left: 50px">Sidebar toggle</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="font-size: 1.2rem">
      <li class="nav-item">

        <a class="nav-link" routerLink="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home</a>
      </li>
      <li class="nav-item" [ngbPopover]="popContent"
          placement="bottom"
          triggers="mouseenter"
          [autoClose]="'outside'">
        <a class="nav-link" routerLink="/cart"
           aria-disabled="true"
           [ngClass]="{disabled: shoppingCart.length===0}">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart
        </a>
      </li>

      <li class="nav-item" ngbDropdown>
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-users" aria-hidden="true"></i>
          <span *ngIf="loggedUser==null"> User info</span>
          <span *ngIf="loggedUser!=null"> {{loggedUser.login}}</span>
        </a>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item"
                  (click)="login=true;openAddUserModal(addUserModal)">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </button>
          <button class="dropdown-item"
                  (click)="login=false;openAddUserModal(addUserModal)">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create account
          </button>
          <button class="dropdown-item" (click)="goToCabinet()"
                  [disabled]="loggedUser==null">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
             User cabinet
          </button>
          <button class="dropdown-item" (click)="goToAdminPage()"
                  [disabled]="loggedUser==null || loggedUser.role!=='ADMIN'">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Admin page
          </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item"
                  (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          </button>
        </div>

      </li>
    </ul>

    <!--<form class="form-inline my-2 my-lg-0">-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>

<ng-template #popContent>
  <div class="container-fluid" style="width: 425px">
    <div class="row">
      <div class="col-md-12">
        <app-book-item-midle-card
          *ngFor="let itemEntry of shoppingCart"
          [activeBookItemDetails]="itemEntry.key"
          [shoppingCartNum]="itemEntry.value"></app-book-item-midle-card>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <strong class="float-right text-primary">Total: {{shoppingCartSum}}</strong>

            <div class="btn-group btn-group-sm">
              <button type="button"
                      class="btn btn-outline-primary btn-sm"
                      (click)="goToCart()"
                      [disabled]="!shoppingCartSum">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> View cart
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addUserModal let-modal>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitUser(f)" #f="ngForm" *ngIf="!login">

      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Login" ngModel name="login"
                 required>
        </div>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email" ngModel name="email"
                 required email>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone" ngModel name="phone"
                 required>
        </div>
      </div>

      <hr>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="default delivery address" ngModel
                 name="address">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="name" ngModel name="name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="lastname" ngModel name="lastname">
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col">
          <input type="password" class="form-control" placeholder="password"
                 ngModel name="password" #password="ngModel"
                 pattern="{{confirmPasswordProp}}" [required]="confirm.value!=''">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="confirm password"
                 [(ngModel)]="confirmPasswordProp" name="confirmPassword" #confirm="ngModel"
                 [required]="password.value!=''">
        </div>
      </div>
      <hr>
      <input type="file" name="photo" (change)="addPhoto($event)"/>

      <hr>
      <button type="submit" class="btn btn-primary btn-block"
              [disabled]="!f.valid || !password.valid"
              *ngIf="!login">submit
      </button>

    </form>

    <form (ngSubmit)="onLogin(f2)" #f2="ngForm" *ngIf="login">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Login" ngModel name="login"
                 required>
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="password"
                 ngModel name="password" #password1="ngModel"
                 pattern="{{confirmPasswordProp}}" required>
        </div>
        <small id="emailHelp" class="form-text text-muted" >{{serverReply}}
        </small>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-block"
              [disabled]="!f2.valid">submit
      </button>
    </form>

    <hr>
    <button type="button" class="btn btn-link btn-block"
            *ngIf="!login" (click)="login=true">Login page
    </button>
    <button type="button" class="btn btn-link btn-block"
            *ngIf="login" (click)="login=false">Create account
    </button>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #userCreated let-modal>
  <div class="modal-body">
    {{serverReply}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

