<div class="card">
  <div class="card-header">
    User list
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered table-hover" id="dataTable">
      <thead>
      <tr>
        <th><a href="#" (click)="onSortGet('id',true,currentPage)">
          Id <i class="fa fa-sort" aria-hidden="true"></i></a></th>
        <th><a href="#" (click)="onSortGet('login',true,currentPage)">
          Login <i class="fa fa-sort" aria-hidden="true"></i>
        </a></th>
        <th><a href="#" (click)="onSortGet('name',true,currentPage)">
          Name <i class="fa fa-sort" aria-hidden="true"></i>
        </a></th>
        <th><a href="#" (click)="onSortGet('phone',true,currentPage)">
          Phone <i class="fa fa-sort" aria-hidden="true"></i>
        </a></th>
        <th><a href="#" (click)="onSortGet('email',true,currentPage)">
          Email <i class="fa fa-sort" aria-hidden="true"></i>
        </a></th>
        <th><a href="#" (click)="onSortGet('role',true,currentPage)">
          Role <i class="fa fa-sort" aria-hidden="true"></i>
        </a></th>
        <th>View details</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td style="word-break: break-all">{{user.id}}</td>
        <td style="word-break: break-all">{{user.login}}</td>
        <td style="word-break: break-all">{{user.name}}</td>
        <td style="word-break: break-all">{{user.phone}}</td>
        <td style="word-break: break-all">{{user.email}}</td>
        <td style="word-break: break-all">{{user.role}}</td>
        <td style="word-break: break-all">view details</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="tablePagination">
      <ul class="pagination">
        <li class="page-item {{(currentPage==1)?'disabled':''}}">
          <a class="page-link" href="#" (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
        </li>
        <li *ngFor="let int of paginationArr; index as i"
            class="page-item {{(currentPage==(i+1))?'active':''}}">
          <a class="page-link" href="#"
             (click)="onSortGet(sortBy,false,i+1)">{{i+1}}</a>
        </li>
        <li class="page-item {{(currentPage==paginationArr.length)?'disabled':''}}">
          <a class="page-link" href="#" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
