<div class="container-fluid">
  <div class="row">
    <div
      [ngClass]="{'col-md-6':showUserDetails, 'col-md-12': !showUserDetails}">
      <div class="card">
        <div class="card-header">
          User list
          <div class="btn-group btn-group-sm float-right">
            <button type="button" class="btn btn-outline-primary btn-sm"
                    (click)="openAddUserModal(addUserModal)">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              new user
            </button>
            <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    [disabled]="(activeUserOrders.length > 0) || activeUser.role == 'ADMIN' || activeUser.role == 'MANAGER'"
                    (click)="deleteUser(activeUserId)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-bordered table-hover" id="dataTable">
            <thead class="thead-light">
            <tr>
              <th class="text-primary" style="cursor:pointer"><a (click)="onSortGet('id',true,currentPage)">
                Id <i class="fa fa-sort" aria-hidden="true"></i></a></th>
              <th class="text-primary" style="cursor:pointer"><a
                (click)="onSortGet('login',true,currentPage)">
                Login <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary" style="cursor:pointer"><a (click)="onSortGet('name',true,currentPage)">
                Name <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary" style="cursor:pointer"><a
                (click)="onSortGet('phone',true,currentPage)">
                Phone <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary" style="cursor:pointer"><a
                (click)="onSortGet('email',true,currentPage)">
                Email <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
              <th class="text-primary" style="cursor:pointer"><a (click)="onSortGet('role',true,currentPage)">
                Role <i class="fa fa-sort" aria-hidden="true"></i>
              </a></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users, let i = index" (click)="setActiveRow(i, user.id)"
                [ngClass]="{'bg-secondary': i == activeRow}">
              <td style="word-break: break-all">{{user.id}}</td>
              <td style="word-break: break-all">{{user.login}}</td>
              <td style="word-break: break-all">{{user.name}}</td>
              <td style="word-break: break-all">{{user.phone}}</td>
              <td style="word-break: break-all">{{user.email}}</td>
              <td style="word-break: break-all">{{user.role}}</td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="tablePagination">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{disabled: currentPage==1}">
                <a class="page-link" (click)="onSortGet(sortBy,false,currentPage-1)">Previous</a>
              </li>
              <li *ngFor="let int of paginationArr; index as i"
                  class="page-item" [ngClass]="{active: currentPage==(i+1)}">
                <a class="page-link" (click)="onSortGet(sortBy,false,i+1)">{{i+1}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled: currentPage==paginationArr.length}">
                <a class="page-link" (click)="onSortGet(sortBy,false,currentPage+1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="showUserDetails">
      <app-users-details [activeUserDetails]="activeUser"
                         (userOrdersOutput)="activeUserOrders=$event"></app-users-details>
    </div>
  </div>
</div>
<ng-template #addUserModal let-modal>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitUser(f)" #f="ngForm">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Login" ngModel name="login"
                 required>
        </div>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email" ngModel name="email"
                 required email>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone" ngModel name="phone"
                 required>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="default delivery address" ngModel
                 name="address">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="name" ngModel name="name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="lastname" ngModel name="lastname">
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col">
          <input type="password" class="form-control" placeholder="password"
                 ngModel name="password" #password="ngModel"
                 pattern="{{confirmPasswordProp}}" [required]="confirm.value!=''">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="confirm password"
                 [(ngModel)]="confirmPasswordProp" name="confirmPassword" #confirm="ngModel"
                 [required]="password.value!=''">
        </div>
      </div>
      <hr>
      <input type="file" name="photo" (change)="addPhoto($event)"/>
      <hr>
      <button type="submit" class="btn btn-outline-primary btn-sm"
              [disabled]="!f.valid || !password.valid">submit
      </button>
    </form>

    <hr>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #userCreated let-modal>
  <div class="modal-body">
    {{createUserReply}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
