<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcomesaassasas to {{ title }}!
    {{anotherTitle}}
  </h1>

  <h2>
    <input type="text" [(ngModel)]="anotherTitle">
  </h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Server component</h3>
          </div>
          <div class="card-body">
            <app-server></app-server>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Server component</h3>
          </div>
          <div class="card-body">
            <app-servers></app-servers>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
