<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Recipe name</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Menage recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Add ingridient</a></li>
        <li class="dropdown-item"><a href="#">Edit recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="cl-md-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingridients
  </div>
</div>

<!--<div class="card">-->
<!--<div class="card-header">-->
<!--<div class="h3">recipe-detail</div>-->
<!--</div>-->
<!--<div class="card-body">-->

<!--</div>-->
<!--</div>-->
