<nav class="side-navbar" [ngClass]="{shrinked: !isSidebarOnSidebar}">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="http://localhost:8080/static/bookstoreLogo.jpg" alt="..." class="img-fluid">
    </div>
    <div class="title">
      <h1 class="h4">Online Book Store</h1>
      <p>Books for everyone</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-group">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="">
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="users"><i class="fa fa-users" aria-hidden="true"></i>
        Users
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="orders"><i class="fa fa-bar-chart" aria-hidden="true"></i>
        Orders
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="bookItems"><i class="fa fa-book" aria-hidden="true"></i>
        Book items
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="userCabinet"><i class="fa fa-id-card-o" aria-hidden="true"></i>
        User cabinet
      </a>
    </li>
  </ul>
</nav>
